@use "../../../assets/sass/abstracts" as *;
@use "../../../assets/sass/components/buttons/buttons.scss" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $button-gap;
  cursor: pointer;
  border: 1px solid $button-border-color;
  border-radius: $button-border-radius;
  background-color: $button-background-color;
  padding-inline: $button-padding-horizontal;
  padding-block: $button-padding-vertical;
  height: $button-height;
  color: $button-text-color;
  font-weight: $button-font-weight;
  font-size: $button-font-size;
  line-height: $line-height-100;
}

.button:focus-visible {
  outline: 2px solid $interactive-utility-outer-focus-border;
  outline-offset: 1px;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: $button-gap;
  width: 100%;
}
