.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px 0.5px rgb(50 62 72 / 8%);
  border: 1px solid var(--border-color-01, #dfe4e8);
  border-radius: var(--border-radius-small, 0.5rem);
  background-color: var(--ui-background-01, #fff);
  padding: var(--space-large, 2rem);
  width: 100%;
  min-width: 300px;
}
