/* -----------------  Semantic  ---------------- */
.info {
  $semantic-tint: $info-tint;
  $semantic-lightest: $info-lightest;
  $semantic-lighter: $info-lighter;
  $semantic-light: $info-light;
  $semantic-default: $info;
  $semantic-dark: $info-dark;
  $semantic-darker: $info-darker;
  $semantic-darkest: $info-darkest;
}

.error {
  $semantic-tint: $error-tint;
  $semantic-lightest: $error-lightest;
  $semantic-lighter: $error-lighter;
  $semantic-light: $error-light;
  $semantic-default: $error;
  $semantic-dark: $error-dark;
  $semantic-darker: $error-darker;
  $semantic-darkest: $error-darkest;
}

.success {
  $semantic-tint: $success-tint;
  $semantic-lightest: $success-lightest;
  $semantic-lighter: $success-lighter;
  $semantic-light: $success-light;
  $semantic-default: $success;
  $semantic-dark: $success-dark;
  $semantic-darker: $success-darker;
  $semantic-darkest: $success-darkest;
}

.warning {
  $semantic-tint: $warning-tint;
  $semantic-lightest: $warning-lightest;
  $semantic-lighter: $warning-lighter;
  $semantic-light: $warning-light;
  $semantic-default: $warning;
  $semantic-dark: $warning-dark;
  $semantic-darker: $warning-darker;
  $semantic-darkest: $warning-darkest;
}

/* --------------------------------------------- */

/* ----------------- Messaging ---------------- */

.pending {
  $messaging-tint: $pending-tint;
  $messaging-lightest: $pending-lightest;
  $messaging-lighter: $pending-lighter;
  $messaging-light: $pending-light;
  $messaging-default: $pending;
  $messaging-dark: $pending-dark;
  $messaging-darker: $pending-darker;
  $messaging-darkest: $pending-darkest;
}

.neutral {
  $messaging-tint: $neutral-tint;
  $messaging-lightest: $neutral-01-lightest;
  $messaging-lighter: $neutral-lighter;
  $messaging-light: $neutral-light;
  $messaging-default: $neutral;
  $messaging-dark: $neutral-dark;
  $messaging-darker: $neutral-darker;
  $messaging-darkest: $neutral-darkest;
}

.at-01 {
  $messaging-tint: $alt-01-tint;
  $messaging-lightest: $alt-01-lightest;
  $messaging-lighter: $alt-01-lighter;
  $messaging-light: $alt-01-light;
  $messaging-default: $alt-01;
  $messaging-dark: $alt-01-dark;
  $messaging-darker: $alt-01-darker;
  $messaging-darkest: $alt-01-darkest;
}

.alt-02 {
  $messaging-tint: $alt-02-tint;
  $messaging-lightest: $alt-02-lightest;
  $messaging-lighter: $alt-02-lighter;
  $messaging-light: $alt-02-light;
  $messaging-default: $alt-02;
  $messaging-dark: $alt-02-dark;
  $messaging-darker: $alt-02-darker;
  $messaging-darkest: $alt-02-darkest;
}

/* --------------------------------------------- */
