@use 'src/assets/sass/abstracts' as *;

.citrus-disabled {
  $text-color-01: $disabled-content-color;
  $text-color-02: $disabled-content-color;
  $text-color-03: $disabled-content-color;
  $text-color-04: $disabled-content-color;
  $text-color-05: $disabled-content-color;
  $text-color-06: $disabled-content-color;
  $text-color-07: $disabled-background-color;
  $icon-color-01: $disabled-content-color;
  $icon-color-02: $disabled-content-color;
  $icon-color-03: $disabled-content-color;
  $icon-color-04: $disabled-content-color;
  $icon-color-05: $disabled-content-color;
  $icon-color-06: $disabled-content-color;
  $icon-color-07: $disabled-content-color;
  $icon-color-08: $disabled-content-color;
  $border-color-01: $disabled-border-color;
  $border-color-02: $disabled-border-color;
  $border-color-03: $disabled-border-color;
  $border-color-04: $disabled-border-color;
  $border-color-05: $disabled-border-color;
  $border-color-06: $disabled-border-color;
  $ui-background-01: $neutral-00;
  $ui-background-02: $disabled-background-color;
  $ui-background-03: $disabled-background-color;
  $disabled-content-color: $neutral-01-darkest;
  $disabled-border-color: $neutral-01;
  $disabled-background-color: $neutral-01-lighter;
  $interactive-states-01: $disabled-content-color;
  $interactive-states-01-default: $disabled-content-color;
  $interactive-states-02-default: $disabled-background-color;
  $interactive-states-03-default: $disabled-background-color;
  $interactive-states-03-hover: $disabled-background-color;
  $interactive-states-03-active: $disabled-background-color;
  $interactive-states-04-default: $disabled-background-color;
  $interactive-states-04-default-transparent: #fff0;
  $interactive-states-02: $disabled-content-color;
  $interactive-states-03: $disabled-content-color;
  $selected-01: $disabled-background-color;
  $selected-02: $disabled-background-color;
  $selected-03: $disabled-background-color;
  $border-color-07: $disabled-border-color;
  $body-background: $neutral-tint;
  $semantic-01: $disabled-content-color;
  $semantic-02: $disabled-border-color;
  $semantic-03: $disabled-background-color;
  $semantic-04: $disabled-background-color;
  $messaging-01: $disabled-content-color;
  $messaging-02: $disabled-border-color;
  $messaging-03: $disabled-background-color;
  $messaging-04: $disabled-background-color;
  $border-color-08: $disabled-border-color;
  $outer-focus-border-weight: 6;
  $inner-focus-border-weight: 2;
}