/* -----------------  Semantic  ---------------- */
.info {
  --semantic-tint: var(--info-tint);
  --semantic-lightest: var(--info-lightest);
  --semantic-lighter: var(--info-lighter);
  --semantic-light: var(--info-light);
  --semantic-default: var(--info);
  --semantic-dark: var(--info-dark);
  --semantic-darker: var(--info-darker);
  --semantic-darkest: var(--info-darkest);
}

.error {
  --semantic-tint: var(--error-tint);
  --semantic-lightest: var(--error-lightest);
  --semantic-lighter: var(--error-lighter);
  --semantic-light: var(--error-light);
  --semantic-default: var(--error);
  --semantic-dark: var(--error-dark);
  --semantic-darker: var(--error-darker);
  --semantic-darkest: var(--error-darkest);
}

.success {
  --semantic-tint: var(--success-tint);
  --semantic-lightest: var(--success-lightest);
  --semantic-lighter: var(--success-lighter);
  --semantic-light: var(--success-light);
  --semantic-default: var(--success);
  --semantic-dark: var(--success-dark);
  --semantic-darker: var(--success-darker);
  --semantic-darkest: var(--success-darkest);
}

.warning {
  --semantic-tint: var(--warning-tint);
  --semantic-lightest: var(--warning-lightest);
  --semantic-lighter: var(--warning-lighter);
  --semantic-light: var(--warning-light);
  --semantic-default: var(--warning);
  --semantic-dark: var(--warning-dark);
  --semantic-darker: var(--warning-darker);
  --semantic-darkest: var(--warning-darkest);
}

/* --------------------------------------------- */

/* ----------------- Messaging ---------------- */

.pending {
  --messaging-tint: var(--pending-tint);
  --messaging-lightest: var(--pending-lightest);
  --messaging-lighter: var(--pending-lighter);
  --messaging-light: var(--pending-light);
  --messaging-default: var(--pending);
  --messaging-dark: var(--pending-dark);
  --messaging-darker: var(--pending-darker);
  --messaging-darkest: var(--pending-darkest);
}

.neutral {
  --messaging-tint: var(--neutral-tint);
  --messaging-lightest: var(--neutral-01-lightest);
  --messaging-lighter: var(--neutral-lighter);
  --messaging-light: var(--neutral-light);
  --messaging-default: var(--neutral);
  --messaging-dark: var(--neutral-dark);
  --messaging-darker: var(--neutral-darker);
  --messaging-darkest: var(--neutral-darkest);
}

.at-01 {
  --messaging-tint: var(--alt-01-tint);
  --messaging-lightest: var(--alt-01-lightest);
  --messaging-lighter: var(--alt-01-lighter);
  --messaging-light: var(--alt-01-light);
  --messaging-default: var(--alt-01);
  --messaging-dark: var(--alt-01-dark);
  --messaging-darker: var(--alt-01-darker);
  --messaging-darkest: var(--alt-01-darkest);
}

.alt-02 {
  --messaging-tint: var(--alt-02-tint);
  --messaging-lightest: var(--alt-02-lightest);
  --messaging-lighter: var(--alt-02-lighter);
  --messaging-light: var(--alt-02-light);
  --messaging-default: var(--alt-02);
  --messaging-dark: var(--alt-02-dark);
  --messaging-darker: var(--alt-02-darker);
  --messaging-darkest: var(--alt-02-darkest);
}

/* --------------------------------------------- */

.citrus-button {
  --button-content-01: var(--text-color-04);
  --button-content-02: var(--text-color-05);
  --button-border-color-01: #fff0;
  --button-border-color-02: var(--border-color-08);
  --button-overlay-01: var(--interactive-overlay-04);
  --button-background-color-01: var(--interactive-control-02);
  --icon-button-width: var(--size-large);
  --icon-button-icon-size: 14;
  --button-height: var(--size-large);
  --button-border-radius: var(--border-radius-round);
  --button-font-size: var(--font-size-075);
  --button-icon-size: var(--font-size-050);
  --button-font-weight: var(--font-weight-300);
  --button-gap: var(--space-small);
  --button-padding-right: var(--space-base);
  --button-padding-left: var(--space-x-small);
  --button-padding-vertical: var(--space-x-small);
  --button-padding-horizontal: var(--space-base);
  --button-text-color: var(--button-content-01);
  --button-border-color: var(--button-border-color-01);
  --button-overlay: #fff0;
  --button-background-color: var(--button-background-color-01);
  --button-icon-color: var(--button-content-01);
}

.small {
  --icon-button-width: var(--size-medium);
  --icon-button-icon-size: 12;
  --button-height: var(--size-medium);
  --button-border-radius: var(--border-radius-round);
  --button-font-size: var(--font-size-050);
  --button-icon-size: var(--font-size-050);
  --button-font-weight: var(--font-weight-300);
  --button-gap: var(--space-x-small);
  --button-padding-right: var(--space-small);
  --button-padding-left: var(--space-x-small);
  --button-padding-vertical: var(--space-x-small);
  --button-padding-horizontal: var(--space-small);
}

.large {
  --icon-button-width: var(--size-x-large);
  --icon-button-icon-size: 16;
  --button-height: var(--size-x-large);
  --button-border-radius: var(--border-radius-round);
  --button-font-size: var(--font-size-100);
  --button-icon-size: var(--font-size-050);
  --button-font-weight: var(--font-weight-300);
  --button-gap: var(--space-small);
  --button-padding-right: var(--space-base);
  --button-padding-left: var(--space-small);
  --button-padding-vertical: var(--space-small);
  --button-padding-horizontal: var(--space-medium);
}

.borderless {
  --button-text-color: var(--button-content-02);
  --button-border-color: var(--button-border-color-01);
  --button-overlay: var(--button-overlay-01);
  --button-background-color: var(--button-overlay);
  --button-icon-color: var(--button-content-02);
}

.outline {
  --button-text-color: var(--button-content-02);
  --button-border-color: var(--button-border-color-02);
  --button-overlay: var(--button-overlay-01);
  --button-background-color: var(--button-overlay-01);
  --button-icon-color: var(--button-content-02);
}