.input {
  border: 1px solid var(--textbox-border-color, #96a2ab);
  border-radius: var(--textbox-border-radius, 8px);
  padding: var(--textbox-padding, 0.5rem) 0.75rem;
  width: 100%;
  height: var(--size-x-large, 2.5rem);
  color: var(--textbox-text-color, #000);
  font-weight: var(--font-weight-200);
  font-size: var(--font-size-100);
}

.input:global(::placeholder) {
  color: var(--textbox-text-color-placeholder, #42505c);
  font-weight: var(--font-weight-100);
}

.label {
  color: var(--label-text-color, #323e48);
  font-weight: var(--font-weight-300);
  font-size: var(--font-size-075);
  line-height: var(--line-height-125);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-small, 0.5rem);
  padding-bottom: var(--space-large, 2rem);
  width: 100%;
}
