@use "src/assets/sass/abstracts/variables/fonts" as *;
@use "../../../assets/sass/components/inputs/inputs.scss" as *;

.input {
  border: 1px solid $textbox-border-color;
  border-radius: $textbox-border-radius;
  padding: 0.75rem;
  width: 100%;
  color: $textbox-text-color;
  font-weight: $font-weight-200;
  font-size: $font-size-100;
}

.input:global(::placeholder) {
  color: $textbox-text-color-placeholder;
  font-weight: $font-weight-100;
}
