$strawberry-005: #fff4f5;
$strawberry-010: #ffeaec;
$strawberry-020: #f9d1d7;
$strawberry-030: #efa2ac;
$strawberry-040: #e57785;
$strawberry-050: #db4f61;
$strawberry-060: #d6263c;
$strawberry-070: #cc0821;
$strawberry-080: #b70017;
$strawberry-090: #a30014;
$blueberry-005: #f2f7ff;
$blueberry-010: #e5eeff;
$blueberry-020: #b2ccff;
$blueberry-030: #7facff;
$blueberry-040: #467fea;
$blueberry-050: #2b66d6;
$blueberry-060: #1453cc;
$blueberry-070: #003eb7;
$blueberry-080: #0037a3;
$blueberry-090: #003499;
$blueberry-100: #002e84;
$neutral-00: #fff;
$neutral-005: #f9fbfc;
$neutral-010: #f4f7f9;
$neutral-020: #e6ebef;
$neutral-030: #aeb6bd;
$neutral-040: #8a959e;
$neutral-050: #4e5b66;
$neutral-060: #323e48;
$neutral-070: #2a3742;
$neutral-080: #1e2c38;
$neutral-090: #14222e;
$neutral-100: #000;
$lime-005: #f2fff2;
$lime-010: #e5ffe5;
$lime-020: #c0f0c0;
$lime-030: #7dd17d;
$lime-040: #47b247;
$lime-050: #1d941d;
$lime-060: #0d850d;
$lime-070: #007500;
$lime-080: #060;
$lime-090: #005700;
$lime-100: #004700;
$banana-005: #fffaef;
$banana-010: #fff6de;
$banana-020: #ffefc4;
$banana-030: #ffe8ab;
$banana-040: #ffda78;
$banana-050: #ffcc45;
$banana-060: #ffb900;
$banana-070: #e5a700;
$banana-080: #cc9400;
$banana-090: #996f00;
$banana-100: #805d00;
$elderberry-005: #f3f2ff;
$elderberry-010: #e8e5ff;
$elderberry-020: #cac3f4;
$elderberry-030: #ada4ea;
$elderberry-040: #9386e0;
$elderberry-050: #6251cc;
$elderberry-060: #4c3ac1;
$elderberry-070: #3824b7;
$elderberry-080: #2611ad;
$elderberry-090: #150099;
$elderberry-100: #110084;
$tangerine-005: #fef3f1;
$tangerine-010: #fee9e4;
$tangerine-020: #fed5cb;
$tangerine-030: #fec3b2;
$tangerine-040: #fe9b7f;
$tangerine-050: #fe744c;
$tangerine-060: #fe511f;
$tangerine-070: #e53705;
$tangerine-080: #cc2e00;
$tangerine-090: #b22800;
$tangerine-100: #992100;
$plum-005: #faf2ff;
$plum-010: #f5e5ff;
$plum-020: #e9ccff;
$plum-030: #deb2ff;
$plum-040: #b472e5;
$plum-050: #8e3dcc;
$plum-060: #6d11b2;
$plum-070: #5e00a5;
$plum-080: #570099;
$plum-090: #4f008c;
$plum-100: #48007f;
$raspberry-005: #fff2fa;
$raspberry-010: #ffe5f6;
$raspberry-020: #ffcced;
$raspberry-030: #ffb2e4;
$raspberry-040: #ff99da;
$raspberry-050: #ff7fd1;
$raspberry-060: #ff4cbf;
$raspberry-070: #e52da4;
$raspberry-080: #cc148b;
$raspberry-90: #990063;
$raspberry-100: #7f0052;
$bluejavabanana-005: #f2fdff;
$bluejavabanana-010: #e5fcff;
$bluejavabanana-020: #c4f1f5;
$bluejavabanana-030: #a4e6eb;
$bluejavabanana-040: #86dae0;
$bluejavabanana-050: #51c3cc;
$bluejavabanana-060: #25afb7;
$bluejavabanana-070: #0097a3;
$bluejavabanana-080: #00858e;
$bluejavabanana-090: #00727a;
$bluejavabanana-100: #005e66;
$strawberry-100: #8e0012;
$lightgrey-000: #fff;
$lightgrey-005: #fafdff;
$lightgrey-010: #f2f5f7;
$lightgrey-020: #e9ecf0;
$lightgrey-030: #dfe4e8;
$lightgrey-040: #ccd3d9;
$lightgrey-050: #b9c2c9;
$lightgrey-060: #a8b2ba;
$lightgrey-070: #96a2ab;
$lightgrey-080: #8e9aa3;
$lightgrey-090: #85919b;
$lightgrey-100: #7e8a94;
$darkgrey-010: #7d8b99;
$darkgrey-020: #71818f;
$darkgrey-030: #637380;
$darkgrey-040: #4b5a66;
$darkgrey-050: #42505c;
$darkgrey-060: #323e48;
$darkgrey-070: #2a3742;
$darkgrey-080: #1e2c38;
$darkgrey-090: #14222e;
$darkgrey-100: #000;

$strawberry: $strawberry-060;
$neutral: $neutral-060;
$lime: $lime-060;
$blueberry: $blueberry-060;
$banana: $banana-060;
$elderberry: $elderberry-060;
$tangerine: $tangerine-060;
$plum: $plum-060;
$raspberry: $raspberry-060;
$blue-java-banana: $bluejavabanana-060;