@use './colors' as *;

$primary-tint: $tangerine-005;
$primary-lightest: $tangerine-010;
$primary-lighter: $tangerine-030;
$primary-light: $tangerine-050;
$primary-dark: $tangerine-070;
$primary-darker: $tangerine-080;
$primary-darkest: $tangerine-100;
$secondary-tint: $elderberry-005;
$secondary-lightest: $elderberry-010;
$secondary-lighter: $elderberry-030;
$secondary-light: $elderberry-050;
$secondary-dark: $elderberry-070;
$secondary-darker: $elderberry-080;
$secondary-darkest: $elderberry-100;
$neutral-01-tint: $lightgrey-005;
$neutral-01-lightest: $lightgrey-010;
$neutral-01-lighter: $lightgrey-030;
$neutral-01-light: $lightgrey-050;
$neutral-01-dark: $lightgrey-070;
$neutral-01-darker: $lightgrey-080;
$neutral-01-darkest: $lightgrey-100;
$neutral-02-lightest: $darkgrey-010;
$neutral-02-lighter: $darkgrey-030;
$neutral-02-light: $darkgrey-050;
$neutral-02-dark: $darkgrey-070;
$neutral-02-darker: $darkgrey-080;
$neutral-02-darkest: $darkgrey-100;

$neutral-01: $lightgrey-060;
$neutral-02: $darkgrey-060;
$neutral: $neutral-02;
$info-tint: $blueberry-005;
$info-lightest: $blueberry-010;
$info-lighter: $blueberry-030;
$info-light: $blueberry-050;
$info-dark: $blueberry-070;
$info-darker: $blueberry-080;
$info-darkest: $blueberry-100;
$error-tint: $strawberry-005;
$error-lightest: $strawberry-010;
$error-lighter: $strawberry-030;
$error-light: $strawberry-050;
$error-dark: $strawberry-070;
$error-darker: $strawberry-080;
$error-darkest: $strawberry-100;
$success-tint: $lime-005;
$success-lightest: $lime-010;
$success-lighter: $lime-020;
$success-light: $lime-050;
$success-dark: $lime-070;
$success-darker: $lime-080;
$success-darkest: $lime-100;
$warning-tint: $banana-005;
$warning-lightest: $banana-010;
$warning-lighter: $banana-030;
$warning-light: $banana-050;
$warning-dark: $banana-070;
$warning-darker: $banana-080;
$pending-tint: $plum-005;
$warning-darkest: $banana-100;
$pending-lightest: $plum-010;
$pending-lighter: $plum-030;
$pending-light: $plum-050;
$pending-dark: $plum-070;
$pending-darker: $plum-080;
$pending-darkest: $plum-100;

$alt-01-tint: $raspberry-005;
$alt-01-lightest: $raspberry-010;
$alt-01-lighter: $raspberry-030;
$alt-01-light: $raspberry-050;
$alt-01-dark: $raspberry-070;
$alt-01-darker: $raspberry-080;
$alt-02-tint: $bluejavabanana-005;
$alt-01-darkest: $raspberry-100;
$alt-02-lightest: $bluejavabanana-010;
$alt-02-lighter: $bluejavabanana-030;
$alt-02-light: $bluejavabanana-050;
$alt-02-dark: $bluejavabanana-070;
$alt-02-darker: $bluejavabanana-080;
$alt-02-darkest: $bluejavabanana-100;

$info: $blueberry;
$error: $strawberry-060;
$success: $lime;
$warning: $banana;
$pending: $plum;
$alt-01: $raspberry;
$alt-02: $blue-java-banana;
$primary: $tangerine;
$secondary: $elderberry;
$neutral-00: $lightgrey-000;
$neutral-tint: $neutral-01-tint;
$neutral-lightest: $neutral-01-lighter;
$neutral-lighter: $neutral-01;
$neutral-light: $neutral-01-darkest;
$neutral-dark: $neutral-02-dark;
$neutral-darker: $neutral-02-darker;
$neutral-darkest: $neutral-02-darkest;

/* S E M A N T I C */
$semantic-tint: $info-tint;
$semantic-lightest: $info-lightest;
$semantic-lighter: $info-lighter;
$semantic-light: $info-light;
$semantic-default: $info;
$semantic-dark: $info-dark;
$semantic-darker: $info-darker;
$semantic-darkest: $info-darkest;

/* M E S S A G I N G */
$messaging-tint: $pending-tint;
$messaging-lightest: $pending-lightest;
$messaging-lighter: $pending-lighter;
$messaging-light: $pending-light;
$messaging-default: $pending;
$messaging-dark: $pending-dark;
$messaging-darker: $pending-darker;
$messaging-darkest: $pending-darkest;

/* B A S E  T H E M E  V A R I A B L E S  */
$text-color-01: $neutral-darkest;
$text-color-02: $neutral;
$text-color-03: $neutral-02-light;
$text-color-04: $neutral-00;
$text-color-05: $info-dark;
$text-color-06: $error-darker;
$text-color-07: $neutral-00;
$icon-color-01: $primary;
$icon-color-02: $secondary;
$icon-color-03: $neutral-02-darkest;
$icon-color-04: $neutral;
$icon-color-05: $semantic-dark;
$icon-color-06: $neutral-00;
$icon-color-07: $messaging-dark;
$icon-color-08: $neutral-02-lighter;
$border-color-01: $neutral-01-lighter;
$border-color-02: $neutral-00;
$border-color-03: $neutral-01-lightest;
$border-color-04: $neutral-01-dark;
$border-color-05: $error-dark;
$border-color-06: $neutral-02-lighter;
$ui-background-01: $neutral-00;
$ui-background-02: $neutral-01-lightest;
$ui-background-03: $info-tint;
$disabled-content-color: $neutral-01-darkest;
$disabled-border-color: $neutral-01;
$disabled-background-color: $neutral-01-lighter;
$interactive-states-01: $info;
$interactive-states-01-default: $neutral-00;
$interactive-states-02-default: $neutral-light;
$interactive-states-03-default: $info-lightest;
$interactive-states-03-hover: $info-tint;
$interactive-states-03-active: $info-lighter;
$interactive-states-04-default: $neutral-00;
$interactive-states-04-default-transparent: $neutral-00;
$interactive-states-02: $info-dark;
$interactive-states-03: $info-light;
$selected-01: $info-tint;
$selected-02: $info-lightest;
$selected-03: $neutral-02-lightest;
$border-color-07: $info-lighter;
$body-background: $neutral-tint;
$semantic-01: $semantic-darkest;
$semantic-02: $semantic-dark;
$semantic-03: $semantic-lightest;
$semantic-04: $semantic-default;
$messaging-01: $messaging-darkest;
$messaging-02: $messaging-dark;
$messaging-03: $messaging-lightest;
$messaging-04: $messaging-default;
$border-color-08: $info-dark;
$outer-focus-border-weight: 6;
$inner-focus-border-weight: 2;