:root {
    --strawberry-005: #fff4f5;
    --strawberry-010: #ffeaec;
    --strawberry-020: #f9d1d7;
    --strawberry-030: #efa2ac;
    --strawberry-040: #e57785;
    --strawberry-050: #db4f61;
    --strawberry-060: #d6263c;
    --strawberry-070: #cc0821;
    --strawberry-080: #b70017;
    --strawberry-090: #a30014;
    --blueberry-005: #f2f7ff;
    --blueberry-010: #e5eeff;
    --blueberry-020: #b2ccff;
    --blueberry-030: #7facff;
    --blueberry-040: #467fea;
    --blueberry-050: #2b66d6;
    --blueberry-060: #1453cc;
    --blueberry-070: #003eb7;
    --blueberry-080: #0037a3;
    --blueberry-090: #003499;
    --blueberry-100: #002e84;
    --neutral-00: #fff;
    --neutral-005: #f9fbfc;
    --neutral-010: #f4f7f9;
    --neutral-020: #e6ebef;
    --neutral-030: #aeb6bd;
    --neutral-040: #8a959e;
    --neutral-050: #4e5b66;
    --neutral-060: #323e48;
    --neutral-070: #2a3742;
    --neutral-080: #1e2c38;
    --neutral-090: #14222e;
    --neutral-100: #000;
    --lime-005: #f2fff2;
    --lime-010: #e5ffe5;
    --lime-020: #c0f0c0;
    --lime-030: #7dd17d;
    --lime-040: #47b247;
    --lime-050: #1d941d;
    --lime-060: #0d850d;
    --lime-070: #007500;
    --lime-080: #060;
    --lime-090: #005700;
    --lime-100: #004700;
    --banana-005: #fffaef;
    --banana-010: #fff6de;
    --banana-020: #ffefc4;
    --banana-030: #ffe8ab;
    --banana-040: #ffda78;
    --banana-050: #ffcc45;
    --banana-060: #ffb900;
    --banana-070: #e5a700;
    --banana-080: #cc9400;
    --banana-090: #996f00;
    --banana-100: #805d00;
    --elderberry-005: #f3f2ff;
    --elderberry-010: #e8e5ff;
    --elderberry-020: #cac3f4;
    --elderberry-030: #ada4ea;
    --elderberry-040: #9386e0;
    --elderberry-050: #6251cc;
    --elderberry-060: #4c3ac1;
    --elderberry-070: #3824b7;
    --elderberry-080: #2611ad;
    --elderberry-090: #150099;
    --elderberry-100: #110084;
    --tangerine-005: #fef3f1;
    --tangerine-010: #fee9e4;
    --tangerine-020: #fed5cb;
    --tangerine-030: #fec3b2;
    --tangerine-040: #fe9b7f;
    --tangerine-050: #fe744c;
    --tangerine-060: #fe511f;
    --tangerine-070: #e53705;
    --tangerine-080: #cc2e00;
    --tangerine-090: #b22800;
    --tangerine-100: #992100;
    --plum-005: #faf2ff;
    --plum-010: #f5e5ff;
    --plum-020: #e9ccff;
    --plum-030: #deb2ff;
    --plum-040: #b472e5;
    --plum-050: #8e3dcc;
    --plum-060: #6d11b2;
    --plum-070: #5e00a5;
    --plum-080: #570099;
    --plum-090: #4f008c;
    --plum-100: #48007f;
    --raspberry-005: #fff2fa;
    --raspberry-010: #ffe5f6;
    --raspberry-020: #ffcced;
    --raspberry-030: #ffb2e4;
    --raspberry-040: #ff99da;
    --raspberry-050: #ff7fd1;
    --raspberry-060: #ff4cbf;
    --raspberry-070: #e52da4;
    --raspberry-080: #cc148b;
    --raspberry-90: #990063;
    --raspberry-100: #7f0052;
    --bluejavabanana-005: #f2fdff;
    --bluejavabanana-010: #e5fcff;
    --bluejavabanana-020: #c4f1f5;
    --bluejavabanana-030: #a4e6eb;
    --bluejavabanana-040: #86dae0;
    --bluejavabanana-050: #51c3cc;
    --bluejavabanana-060: #25afb7;
    --bluejavabanana-070: #0097a3;
    --bluejavabanana-080: #00858e;
    --bluejavabanana-090: #00727a;
    --bluejavabanana-100: #005e66;
    --strawberry-100: #8e0012;
    --lightgrey-000: #fff;
    --lightgrey-005: #fafdff;
    --lightgrey-010: #f2f5f7;
    --lightgrey-020: #e9ecf0;
    --lightgrey-030: #dfe4e8;
    --lightgrey-040: #ccd3d9;
    --lightgrey-050: #b9c2c9;
    --lightgrey-060: #a8b2ba;
    --lightgrey-070: #96a2ab;
    --lightgrey-080: #8e9aa3;
    --lightgrey-090: #85919b;
    --lightgrey-100: #7e8a94;
    --darkgrey-010: #7d8b99;
    --darkgrey-020: #71818f;
    --darkgrey-030: #637380;
    --darkgrey-040: #4b5a66;
    --darkgrey-050: #42505c;
    --darkgrey-060: #323e48;
    --darkgrey-070: #2a3742;
    --darkgrey-080: #1e2c38;
    --darkgrey-090: #14222e;
    --darkgrey-100: #000;
    --strawberry: var(--strawberry-060);
    --neutral: var(--neutral-060);
    --lime: var(--lime-060);
    --blueberry: var(--blueberry-060);
    --banana: var(--banana-060);
    --elderberry: var(--elderberry-060);
    --tangerine: var(--tangerine-060);
    --plum: var(--plum-060);
    --raspberry: var(--raspberry-060);
    --blue-java-banana: var(--bluejavabanana-060);

    /* F O N T  P A R A M E T E R S */

    --font-size-050: 0.75rem;
    --font-size-075: 0.875rem;
    --font-size-100: 1rem;
    --font-size-200: 1.25rem;
    --font-size-300: 1.5rem;
    --font-size-400: 1.75rem;
    --font-size-500: 2rem;
    --font-size-600: 2.25rem;
    --font-size-700: 2.5rem;
    --font-weight-100: 400;
    --font-weight-200: 500;
    --font-weight-300: 600;
    --font-weight-400: 700;
    --font-weight-500: 800;
    --line-height-100: 100%;
    --line-height-125: 125%;
    --line-height-150: 150%;
    --line-height-175: 175%;
    --line-height-200: 200%;

    /* Grid/Space */

    --value-none: 0;
    --value-xx-small: 0.125rem;
    --value-x-small: 0.25rem;
    --value-small: 0.5rem;
    --value-base: 1rem;
    --value-medium: 1.5rem;
    --value-large: 2rem;
    --value-x-large: 2.5rem;
    --value-xx-large: 3rem;
    --value-xxx-large: 3.5rem;
    --value-jumbo: 4rem;
    --space-none: var(--value-none);
    --space-xx-small: var(--value-xx-small);
    --space-x-small: var(--value-x-small);
    --space-small: var(--value-small);
    --space-base: var(--value-base);
    --space-medium: var(--value-medium);
    --space-large: var(--value-large);
    --space-x-large: var(--value-x-large);
    --space-xx-large: var(--value-xx-large);
    --space-xxx-large: var(--value-xxx-large);
    --border-radius-x-small: var(--value-x-small);
    --border-radius-small: var(--value-small);
    --space-jumbo: var(--value-jumbo);
    --border-radius-base: var(--value-base);
    --border-radius-round: 999px;
    --size-xx-small: var(--value-xx-small);
    --size-x-small: var(--value-x-small);
    --size-small: var(--value-small);
    --size-base: var(--value-base);
    --size-medium: var(--value-medium);
    --size-large: var(--value-large);
    --size-x-large: var(--value-x-large);
    --size-xx-large: var(--value-xx-large);
    --size-xxx-large: var(--value-xxx-large);
    --size-jumbo: var(--value-jumbo);
    --elevation-x: 0;
    --elevation-color: #323e4814;
    --elevation-blur-drop-shadow-01: 2;
    --elevation-y-drop-shadow-01: 1;
    --elevation-spread-drop-shadow-01: 0;
    --elevation-spread-drop-shadow-02: 0.5;
    --elevation-blur-drop-shadow-02: 4;
    --elevation-y-drop-shadow-02: 2;
    --elevation-spread-drop-shadow-03: 1;
    --elevation-spread-drop-shadow-04: 2;
    --elevation-spread-drop-shadow-05: 3;
    --elevation-spread-drop-shadow-06: 4;
    --elevation-y-drop-shadow-03: 3;
    --elevation-spread-drop-shadow-07: 4;
    --elevation-y-drop-shadow-04: 4;
    --elevation-spread-pressed: 0;
    --elevation-y-drop-shadow-05: 5;
    --elevation-y-drop-shadow-06: 6;
    --elevation-y-drop-shadow-07: 7;
    --elevation-blur-drop-shadow-03: 6;
    --elevation-blur-drop-shadow-04: 8;
    --elevation-blur-drop-shadow-05: 10;
    --elevation-blur-drop-shadow-06: 12;
    --elevation-spread-inset-01: 0.5;
    --elevation-spread-inset-02: 1;
    --elevation-blur-drop-shadow-07: 16;
    --elevation-spread-inset-03: 2;
    --elevation-spread-inset-04: 2;
    --elevation-y-pressed: 0;
    --elevation-y-inset: 0;
    --elevation-blur-pressed: 4;
    --elevation-blur-inset-01: 4;
    --elevation-blur-inset-02: 6;
    --elevation-blur-inset-03: 8;
    --elevation-blur-inset-04: 12;

    /* Interactive */

    --interactive-overlay-01: #fff0;
    --interactive-overlay-02: #fff0;
    --interactive-overlay-03: #fff0;
    --interactive-overlay-04: #fff0;
    --interactive-overlay-semantic: #1e2c3800;
    --interactive-overlay-messaging: #1e2c3800;
    --interactive-border-interactive-border: var(--border-color-04);
    --interactive-border-interactive-border-error: var(--border-color-05);
    --interactive-control-content-01: var(--interactive-states-01-default);
    --interactive-control-02: var(--interactive-states-01);
    --interactive-control-04: var(--interactive-states-03-default);
    --interactive-container: var(--interactive-states-04-default);
    --interactive-utility-focus-border-opacity: 0;
    --interactive-utility-inner-focus-border: #fff0;
    --interactive-utility-outer-focus-border: var(--blueberry-050);
    --interactive-utility-display-on-interaction: #fff0;

    /* Theme */

    --primary-tint: var(--tangerine-005);
    --primary-lightest: var(--tangerine-010);
    --primary-lighter: var(--tangerine-030);
    --primary-light: var(--tangerine-050);
    --primary-dark: var(--tangerine-070);
    --primary-darker: var(--tangerine-080);
    --primary-darkest: var(--tangerine-100);
    --secondary-tint: var(--elderberry-005);
    --secondary-lightest: var(--elderberry-010);
    --secondary-lighter: var(--elderberry-030);
    --secondary-light: var(--elderberry-050);
    --secondary-dark: var(--elderberry-070);
    --secondary-darker: var(--elderberry-080);
    --secondary-darkest: var(--elderberry-100);
    --neutral-01-tint: var(--lightgrey-005);
    --neutral-01-lightest: var(--lightgrey-010);
    --neutral-01-lighter: var(--lightgrey-030);
    --neutral-01-light: var(--lightgrey-050);
    --neutral-01-dark: var(--lightgrey-070);
    --neutral-01-darker: var(--lightgrey-080);
    --neutral-01-darkest: var(--lightgrey-100);
    --neutral-02-lightest: var(--darkgrey-010);
    --neutral-02-lighter: var(--darkgrey-030);
    --neutral-02-light: var(--darkgrey-050);
    --neutral-02-dark: var(--darkgrey-070);
    --neutral-02-darker: var(--darkgrey-080);
    --neutral-02-darkest: var(--darkgrey-100);
    --neutral-01: var(--lightgrey-060);
    --neutral-02: var(--darkgrey-060);
    --neutral: var(--neutral-02);
    --info-tint: var(--blueberry-005);
    --info-lightest: var(--blueberry-010);
    --info-lighter: var(--blueberry-030);
    --info-light: var(--blueberry-050);
    --info-dark: var(--blueberry-070);
    --info-darker: var(--blueberry-080);
    --info-darkest: var(--blueberry-100);
    --error-tint: var(--strawberry-005);
    --error-lightest: var(--strawberry-010);
    --error-lighter: var(--strawberry-030);
    --error-light: var(--strawberry-050);
    --error-dark: var(--strawberry-070);
    --error-darker: var(--strawberry-080);
    --error-darkest: var(--strawberry-100);
    --success-tint: var(--lime-005);
    --success-lightest: var(--lime-010);
    --success-lighter: var(--lime-020);
    --success-light: var(--lime-050);
    --success-dark: var(--lime-070);
    --success-darker: var(--lime-080);
    --success-darkest: var(--lime-100);
    --warning-tint: var(--banana-005);
    --warning-lightest: var(--banana-010);
    --warning-lighter: var(--banana-030);
    --warning-light: var(--banana-050);
    --warning-dark: var(--banana-070);
    --warning-darker: var(--banana-080);
    --pending-tint: var(--plum-005);
    --warning-darkest: var(--banana-100);
    --pending-lightest: var(--plum-010);
    --pending-lighter: var(--plum-030);
    --pending-light: var(--plum-050);
    --pending-dark: var(--plum-070);
    --pending-darker: var(--plum-080);
    --pending-darkest: var(--plum-100);
    --alt-01-tint: var(--raspberry-005);
    --alt-01-lightest: var(--raspberry-010);
    --alt-01-lighter: var(--raspberry-030);
    --alt-01-light: var(--raspberry-050);
    --alt-01-dark: var(--raspberry-070);
    --alt-01-darker: var(--raspberry-080);
    --alt-02-tint: var(--bluejavabanana-005);
    --alt-01-darkest: var(--raspberry-100);
    --alt-02-lightest: var(--bluejavabanana-010);
    --alt-02-lighter: var(--bluejavabanana-030);
    --alt-02-light: var(--bluejavabanana-050);
    --alt-02-dark: var(--bluejavabanana-070);
    --alt-02-darker: var(--bluejavabanana-080);
    --alt-02-darkest: var(--bluejavabanana-100);
    --info: var(--blueberry);
    --error: var(--strawberry-060);
    --success: var(--lime);
    --warning: var(--banana);
    --pending: var(--plum);
    --alt-01: var(--raspberry);
    --alt-02: var(--blue-java-banana);
    --primary: var(--tangerine);
    --secondary: var(--elderberry);
    --neutral-00: var(--lightgrey-000);
    --neutral-tint: var(--neutral-01-tint);
    --neutral-lightest: var(--neutral-01-lighter);
    --neutral-lighter: var(--neutral-01);
    --neutral-light: var(--neutral-01-darkest);
    --neutral-dark: var(--neutral-02-dark);
    --neutral-darker: var(--neutral-02-darker);
    --neutral-darkest: var(--neutral-02-darkest);

    /* S E M A N T I C */
    --semantic-tint: var(--info-tint);
    --semantic-lightest: var(--info-lightest);
    --semantic-lighter: var(--info-lighter);
    --semantic-light: var(--info-light);
    --semantic-default: var(--info);
    --semantic-dark: var(--info-dark);
    --semantic-darker: var(--info-darker);
    --semantic-darkest: var(--info-darkest);

    /* M E S S A G I N G */
    --messaging-tint: var(--pending-tint);
    --messaging-lightest: var(--pending-lightest);
    --messaging-lighter: var(--pending-lighter);
    --messaging-light: var(--pending-light);
    --messaging-default: var(--pending);
    --messaging-dark: var(--pending-dark);
    --messaging-darker: var(--pending-darker);
    --messaging-darkest: var(--pending-darkest);

    /* B A S E  T H E M E  V A R I A B L E S  */
    --text-color-01: var(--neutral-darkest);
    --text-color-02: var(--neutral);
    --text-color-03: var(--neutral-02-light);
    --text-color-04: var(--neutral-00);
    --text-color-05: var(--info-dark);
    --text-color-06: var(--error-darker);
    --text-color-07: var(--neutral-00);
    --icon-color-01: var(--primary);
    --icon-color-02: var(--secondary);
    --icon-color-03: var(--neutral-02-darkest);
    --icon-color-04: var(--neutral);
    --icon-color-05: var(--semantic-dark);
    --icon-color-06: var(--neutral-00);
    --icon-color-07: var(--messaging-dark);
    --icon-color-08: var(--neutral-02-lighter);
    --border-color-01: var(--neutral-01-lighter);
    --border-color-02: var(--neutral-00);
    --border-color-03: var(--neutral-01-lightest);
    --border-color-04: var(--neutral-01-dark);
    --border-color-05: var(--error-dark);
    --border-color-06: var(--neutral-02-lighter);
    --ui-background-01: var(--neutral-00);
    --ui-background-02: var(--neutral-01-lightest);
    --ui-background-03: var(--info-tint);
    --disabled-content-color: var(--neutral-01-darkest);
    --disabled-border-color: var(--neutral-01);
    --disabled-background-color: var(--neutral-01-lighter);
    --interactive-states-01: var(--info);
    --interactive-states-01-default: var(--neutral-00);
    --interactive-states-02-default: var(--neutral-light);
    --interactive-states-03-default: var(--info-lightest);
    --interactive-states-03-hover: var(--info-tint);
    --interactive-states-03-active: var(--info-lighter);
    --interactive-states-04-default: var(--neutral-00);
    --interactive-states-04-default-transparent: var(--neutral-00);
    --interactive-states-02: var(--info-dark);
    --interactive-states-03: var(--info-light);
    --selected-01: var(--info-tint);
    --selected-02: var(--info-lightest);
    --selected-03: var(--neutral-02-lightest);
    --border-color-07: var(--info-lighter);
    --body-background: var(--neutral-tint);
    --semantic-01: var(--semantic-darkest);
    --semantic-02: var(--semantic-dark);
    --semantic-03: var(--semantic-lightest);
    --semantic-04: var(--semantic-default);
    --messaging-01: var(--messaging-darkest);
    --messaging-02: var(--messaging-dark);
    --messaging-03: var(--messaging-lightest);
    --messaging-04: var(--messaging-default);
    --border-color-08: var(--info-dark);
    --outer-focus-border-weight: 6;
    --inner-focus-border-weight: 2;
}