.input {
  border: 1px solid $textbox-border-color;
  border-radius: $textbox-border-radius;
  padding: $textbox-padding-vertical 0.75rem;
  width: 100%;
  height: $size-x-large;
  color: $textbox-text-color;
  font-weight: $font-weight-200;
  font-size: $font-size-100;
}

.input:global(::placeholder) {
  color: $textbox-text-color-placeholder;
  font-weight: $font-weight-100;
}

.label {
  color: $label-text-color;
  font-weight: $font-weight-300;
  font-size: $font-size-075;
  line-height: $line-height-125;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: $space-small;
  padding-bottom: $space-large;
  width: 100%;
}
